.enemy {
  display: block;
  cursor: none;

  transition: transform 0.25s;
  will-change: transform;

  img {
    display: block;
    width: 100%;
  }

  &.is-open:hover {
    transform: scale(1.075);
  }
}