.swiper {
  position: relative;

  .swiper-wrapper {
    align-items: center;
  }

  .swiper-slide {
    position: relative;

    width: 20rem;
    max-width: calc(100% - 3rem);
    margin: 0 1.25rem;

    @media (hover: none) {
      transform: none;
    }

    @media screen and (max-width: 1023px) {
      margin: 0 1.25rem;
    }

    @media screen and (max-width: 767px) {
      margin: 0 0.75rem;
    }

    @media screen and (max-width: 479px) {
      margin: 0 0.5rem;
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    position: absolute;
    top: 50%;
    z-index: 10;

    width: 4rem;
    height: 4rem;
    margin-top: -2rem;

    background-color: var(--color-links);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    border-radius: 50%;

    transition: background-color 0.25s;

    &:hover {
      background-color: var(--color-hover);
    }

    @media screen and (max-width: 1023px) {
      top: auto;
      bottom: 0;

      width: 5rem;
      height: 5rem;
    }

    @media screen and (max-width: 479px) {
      width: 4rem;
      height: 4rem;
    }
  }

  .swiper-button-prev {
    left: 2.5rem;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACoAAAAbCAMAAAA9O+1hAAAAPFBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADQLyYwAAAAE3RSTlMAECAwQFBfYHB/gI+Qn6+/z9/vc+fMmgAAAHRJREFUeNq0j7cCQzEIA4HXu7H+/1vTxkznlJtB0tkbSxgjik54mdodXQ5VqyEW1YFdbsqgQpejyy61G2KsmrFQjw79+IuQLsJmkyDXK3YxSKQ2euunStDjVYlvZ9WZXTbLHc7lskWu43JqkZu5HD69Dx8AAJhSCgI1/bhoAAAAAElFTkSuQmCC');

    @media screen and (max-width: 1023px) {
      left: calc(50% - 12rem);
    }

    @media screen and (max-width: 479px) {
      left: calc(50% - 8rem);
    }
  }

  .swiper-button-next {
    right: 2.5rem;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACoAAAAqCAMAAADyHTlpAAAAQlBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACO4fbyAAAAFXRSTlMAECAwQFBfYG9wf4CPkJ+gr7/P3+8OgMMtAAAAbElEQVR42u3RBRUEQRAD0SzzUHf8Sz1SkGPa76BeYfcI9QpVYqkh2mg1RAu9g6hzznKaUY6rywfEtfakuHyJW7OC57hMjQ+QzLQGiiqw1OqxWEHRGBdIen9GkMlB6dFBo3PSg6AZrIaqwu4VjqElCxXrqLzYAAAAAElFTkSuQmCC');

    @media screen and (max-width: 1023px) {
      right: calc(50% - 12rem);
    }

    @media screen and (max-width: 479px) {
      right: calc(50% - 8rem);
    }
  }

  .swiper-button-disabled {
    display: none;
  }
}